<?xml version="1.0" encoding="UTF-8"?>

<!--name space declarations-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.prajwal.dependencyInjectionDemo" />
<!--    <context:annotation-config/>-->


    <!--    creates a happy fotune bean-->
    <bean id="fortuneService" class="com.prajwal.dependencyInjectionDemo.HappyFortuneService">
        <constructor-arg value="Today is your lucky day..."/>
    </bean>

    <bean id="happyFortune2" class="com.prajwal.dependencyInjectionDemo.HappyFortuneService">
        <constructor-arg value="Today is not your lucky day..."/>
    </bean>


<!--    creates a bean for the bean name class give the name of the bean you want to create in main here as value for setter-->
    <bean id="beanName" class="com.prajwal.dependencyInjectionDemo.BeanName">
        <property name="beanName" value="trackCoach"/>
    </bean>





<!--    using autowired annotation-->



</beans>